/* elements with id='data_table' */
/* All <button> elements with class='export' */
#data_table button.export {
    display: none;
}

/* elements with id='submit-usage' */
#submit_usage {
    box-sizing: border-box;
    font-size:16px;
    padding: 5px;
    width: 100px;
}

#submit_usage:hover {
    background-color: #004ce4 !important;
    color: #ffffff !important;
}

/* elements with id='submit-donate' */
#submit_donate_info {
    box-sizing: border-box;
    font-size:16px;
    padding: 5px;
    width: 100px;
}

#submit_donate_info:hover {
    background-color: #004ce4 !important;
    color: #ffffff !important;
}

/* elements with id='submit_subscan_account_info'*/
#submit_subscan_account_info {
    box-sizing: border-box;
    font-size:16px;
    padding: 5px;
    width: 100px;
}

#submit_subscan_account_info:hover {
    background-color: #004ce4 !important;
    color: #ffffff !important;
}

/* elements with id='submit_api_key' */
#submit_api_key:hover {
    background-color: #004ce4 !important;
    color: #ffffff !important;
}

/* elements with id='set_account_address' */
#set_account_address:hover {
    background-color: #004ce4 !important;
    color: #ffffff !important;
}

/* elements with id='submit' */
#submit:hover {
    background-color: #004ce4 !important;
    color: #ffffff !important;
}

/* elements with id='export_table' */
#export_table {
    box-sizing: border-box;
    font-size:16px;
    padding: 5px;
    width: 180px;
}

#export_table:hover {
    background-color: #004ce4 !important;
    color: #ffffff !important;
}

/* show_graph */
/* Defined but not used */
#show_graph {
    box-sizing: border-box;
    background: #798bf1;
    border: 1px solid #9a9aff;
    border-radius: 5px;
    color: rgb(252, 252, 252);
    cursor: pointer;
    font-size:20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 220px;
}
